 /* Fullscreen Responsive Background Iframe */
        

 .background-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Places it behind all other content */
    pointer-events: none;
    /* Prevents interaction */
    object-fit: cover;
    /* Ensures the content fills the viewport while maintaining aspect ratio */
    object-position: center;
    /* Centers the iframe content */
}
/* General Styles */

body {
    margin: 0;
    overflow-y: auto;
    /* Enable scrolling */
    /* background-color: #121212; */
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensures footer stays at the bottom */
}

a {
    color: white;
}

p {
    color: aliceblue;
}

h1 {
    /* font-family: "Audiowide", sans-serif; */
    /* font-family: "Montserrat Underline", serif; */
    font-family: "Libre Barcode 39 Extended Text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 100px;
    margin-bottom:10px;
}

/* Navigation bar styles */
nav {
    font-family: "Flow Rounded", serif;
    font-weight: 400;
    font-style: normal;
}

.container .my-15 {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

.navbar {
    justify-content: space-between;
    /* Aligns title and links */
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #0d6efd;
    /* Bootstrap primary color */
}

/* Transparent Navbar */
.navbar.bg-transparent {
    background-color: transparent !important;
}
/* Grid image styles */

.grid-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.grid-item img:hover {
    transform: scale(1.05);
}

/* Footer styles */
footer {
    padding: 15px 0;
    text-align: center;
    margin-top: auto;
    /* Push footer to the bottom */
    width: 100%;
    /* Make sure footer takes the full width */
}

footer .nav-link {
    color: white;
    font-size: 1.1rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer .nav-link:hover {
    color: #0d6efd;
}
/* Custom text in footer */

footer .custom-text {
    color: white;
    font-size: 1.1rem;
}
/* Custom icon styling */

footer .custom-text i {
    font-size: 20px;
    margin-right: 15px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}
th {
    background-color: black;
    border-color: white;
}